ion-button {
    --background: #3ecaf5;
    --color: #f1f1ef;
}

ion-toolbar {
    --background: #f7d3a4;
    --color: #f7d3a4;
  }
  
  ion-content.background{
      --background: #f7d3a4;
    }


  