<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-button>
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>single</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">single</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
  src="../bg4.1.jpg"
  alt="bg4"
></ion-img>

<ion-text>
  <h2> Single Room</h2>
</ion-text>
<ion-text>
  <p><ion-icon name="snow"></ion-icon> Air conditioning <ion-icon name="tv-outline"></ion-icon>Flat-Screen TV</p>
</ion-text>
<ion-text>
  <h2> Room size</h2>11 m2
  <p>This air-conditioned single room is comprised of flat-screen TV with cable channels and a private bathroom. The unit has 1 bed.</p>
</ion-text>

</ion-content>
